h3 {
  font-weight: bold;
  color: orange;
  float: left;
}

img {
  width:200px;
  height:100px;
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: pink;
}

p {
  float: right;
  border: 2px solid green;
  padding: 4px;
  background-color: yellow;
  margin: 1px;

}
